/* Start Global Rules */

* {
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition-durationn: 0.3s;
  --main-padding: 100px;
  --secondry-color: #ececec;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  margin: 0 auto 80px;
  border: 2px solid black;
  width: fit-content;
  position: relative;
  padding: 10px 20px;
  z-index: 1;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.main-title::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.spikes {
  position: relative;
  background: white;
  /* height: 50vh; */
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -10%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 25px;
  background-size: 25px 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-position: 0 0;
}
.triangle {
  position: relative;
  background: #cecece;
  /* height: 50vh; */
}

.triangle::before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75px 75px 0 75px;
  border-color: #ececec transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  z-index: 1;
}

.dots {
  background-image: url(../imgs/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  bottom: 200px;
  right: 0;
}
.dots-down {
  top: 200px;
  left: 0;
}
.main-title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  transition-delay: 0.3s;
  color: white;
  box-shadow: 0px 10px 10px #ccc;
  border: 3px solid white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 20px;
    height: 20px;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0px;
    width: 20px;
    height: 20px;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
}

/* Start Header */
.header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  height: 72px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 5;
  top: 100%;
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    height: 30px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  overflow: hidden;
  /* width: fit-content; */
  top: 0;
  left: -100%;
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}

.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 20px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--main-transition-durationn),
    opacity var(--main-transition-durationn);
  -webkit-transition: top var(--main-transition-durationn),
    opacity var(--main-transition-durationn);
  -moz-transition: top var(--main-transition-durationn),
    opacity var(--main-transition-durationn);
  -ms-transition: top var(--main-transition-durationn),
    opacity var(--main-transition-durationn);
  -o-transition: top var(--main-transition-durationn),
    opacity var(--main-transition-durationn);
}

.header .mega-menu img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu img {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 150px;
  flex: 1;
}
@media (max-width: 767px) {
  .header .mega-menu {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 5px;
  }
  .header .mega-menu .links li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 60px;
  background-color: #ccc;
  z-index: -1;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.header .mega-menu .links li:hover::before {
  width: calc(100% + 10px);
}
.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 20px;
  display: flex;
  font-size: 18px;
  font-weight: bold;
}
/* .header .mega-menu .links:nth-of-type(1) li:last-of-type a {
  text-align: center;
  position: relative;
  left: 50%;
} */
.header .mega-menu .links li a i {
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
/* End Header */

/* Start Landing */

.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
.landing .text p {
  font-size: 24px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #777;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
  .landing .text p {
    font-size: 18px;
  }
}

.landing .image img {
  width: 600px;
  position: relative;
  animation: up-down 5s linear infinite;
  -webkit-animation: up-down 5s linear infinite;
}

/* Start Animation */

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}
/* Start  */
@keyframes up-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -35px;
  }
}
/* End Animation */
@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}

/* Start Articles*/
.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition-durationn),
    box-shadow var(--main-transition-durationn);
  -webkit-transition: transform var(--main-transition-durationn),
    box-shadow var(--main-transition-durationn);
  -moz-transition: transform var(--main-transition-durationn),
    box-shadow var(--main-transition-durationn);
  -ms-transition: transform var(--main-transition-durationn),
    box-shadow var(--main-transition-durationn);
  -o-transition: transform var(--main-transition-durationn),
    box-shadow var(--main-transition-durationn);
}
.articles .container .box:hover {
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  box-shadow: 0px 2px 15px rgb(0 0 0 / 0.4);
}
.articles .container .box img {
  max-width: 100%;
}
.articles .container .box .content {
  padding: 20px;
}
.articles .container .box .content h3 {
  margin: 0;
}
.articles .container .box .content p {
  margin: 10px 0 0 0;
  line-height: 1.5;
  color: #777;
}

.articles .container .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .container .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .container .box .info i {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box:hover .info i {
  animation: move-icon 0.6s linear infinite;
  -webkit-animation: move-icon 0.6s linear infinite;
}

/* End Articles*/

@keyframes left-move {
  50% {
    left: 0;
    width: 50%;
    height: 20px;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    left: 0;
    width: 60%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0px;
    width: 60%;
    height: 20px;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
}

@keyframes move-icon {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}

/* End Landing */

/* Start Gallery */
.gallery {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--secondry-color);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0/ 13%), 0px 4px 0px rgb(0 0 0 /12%);
}
.gallery .container .box .image {
  position: relative;

  overflow: hidden;
}
.gallery .container .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgb(255 255 255 /0.2);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}
.gallery .container .box .image:hover::before {
  animation: flashing 0.7s;
  -webkit-animation: flashing 0.7s;
}
.gallery .container .box .image img {
  max-width: 100%;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Gallery */

/* Start Features */
.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: white;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.features .container .box {
  text-align: center;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0px 10px 30px gray;
  border-radius: 15px 15px 15px 0;
  -webkit-border-radius: 15px 15px 15px 0;
  -moz-border-radius: 15px 15px 15px 0;
  -ms-border-radius: 15px 15px 15px 0;
  -o-border-radius: 15px 15px 15px 0;
}
.features .container .box h2 {
  font-size: 40px;
  width: fit-content;
  position: relative;
  margin: auto;
}
.features .container .box h2::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -20px;
  height: 5px;
  width: calc(100% - 30px);
}
.features .container .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  font-weight: bold;
  color: #777;
}
.features .container .box a {
  display: block;
  border: 3px solid transparent;
  padding: 10px 20px;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.features .container .box .img-holder {
  position: relative;
}
.features .container .box .img-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 0, 0, 0.212); */
}
.features .container .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.features .container .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0;
}

.features .container .box .img-holder img {
  max-width: 100%;
}

.features .quality .img-holder::before {
  background-color: #f43f3645;
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .container .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 20%);
}
.features .time h2::after {
  background-color: rgb(0 150 136);
}
.features .container .time a {
  color: rgb(0 150 136);
  border-color: rgb(0 150 136);
  background: linear-gradient(to right, rgb(0 150 136) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .passion .img-holder::before {
  background-color: rgb(3 169 244 / 20%);
}
.features .passion h2::after {
  background-color: rgb(3 169 244);
}
.features .container .passion a {
  color: rgb(3 169 244);
  border-color: rgb(3 169 244);
  background: linear-gradient(to right, rgb(3 169 244) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .container .box:hover a {
  background-position: left bottom;
  color: white;
}
/* End Features */
/* Start Testimonials */
.testimonails {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--secondry-color);
  position: relative;
}

.testimonails .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonails .container .box {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* width: 100%;
  height: 100%; */
  position: relative;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}
.testimonails .box img {
  position: absolute;
  top: -50px;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  right: -11px;
  border: 7px solid var(--secondry-color);
}
.testimonails .box h3 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.testimonails .box .title {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
/* .testimonails .box .rate {
  color: ;
}
.testimonails .box .rate i {
} */
.testimonails .box .rate .filled {
  color: #ffc107;
}
.testimonails .box p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
}
/* End Testimonials */

/* Start Team */
.team {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.team .container .box {
  position: relative;
}

.team .container .box::before,
.team .container .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}

.team .container .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}

/* @media (max-width: 767px) {
  .team .container .box::before {
    width: 100%;
  }
} */
.team .container .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .container .box:hover::after {
  width: calc(100% - 60px);
}

.team .data {
  display: flex;
  align-items: center;
  padding: 60px;
  justify-content: center;
}
.team .data img {
  border-radius: 10px;
  max-width: 100%;

  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.team .container .box:hover img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.team .data .social {
  width: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}
.team .data .social a {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team .data .social a:hover {
  color: var(--secondry-color);
}
.team .data .social a i {
  color: #777;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
  cursor: pointer;
}
.team .data .social a i:hover {
  color: var(--main-color);
}
.team .box .text {
  padding-left: 80px;
}
.team .box .text h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.team .box .text p {
  margin-top: 10px;
  margin-bottom: 25px;
  color: #777;
}
.team .box:hover .text h3 {
  color: #777;
}
/* End Team */
/* Start Services */
.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--secondry-color);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  background-color: white;
  padding: 50px;
  text-align: center;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
  position: relative;
  box-shadow: 5px 4px 20px rgba(128, 128, 128, 0.509);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.services .container .box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.services .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 0px;
  height: 3px;
  background-color: #1787e0;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.services .container .box:hover::before {
  width: calc(100% - 10px);
}

.services .container .box::after {
  content: "";
  position: absolute;
  width: 60px;
  background-color: var(--main-color-alt);
  color: white;
  font-size: 30px;
  padding: 10px 20px;
  top: 80%;
  left: 0;
  text-align: center;
  font-weight: bold;
}

.services .container .box:nth-of-type(1)::after {
  content: "01";
}
.services .container .box:nth-of-type(2)::after {
  content: "02";
}
.services .container .box:nth-of-type(3)::after {
  content: "03";
}
.services .container .box:nth-of-type(4)::after {
  content: "04";
}
.services .container .box:nth-of-type(5)::after {
  content: "05";
}
.services .container .box:last-of-type:after {
  content: "06";
}

.services .container .box i {
  color: #d5d5d5;
}
.services .container .box h2 {
  color: var(--main-color);
}
.services .container .box .info {
  position: relative;
}
.services .container .box .info::before {
  content: "";
  position: absolute;
  /* top: 7%; */
  left: 30px;
  /* background-color: red; */
  width: 30px;
  height: 0px;
  border-style: solid;
  border-width: 0px 25px 50px 0px;
  border-color: transparent transparent var(--main-color-alt) transparent;
  bottom: -53px;
}
/* .services .container .box .info::after {
  content: "";
  position: absolute;
  /* top: 7%; */
/* left: 60px; */
/* background-color: red; */
/* width: 30px;
  height: 0px;
  border-style: solid;
  border-width: 0px 25px 50px 0px;
  border-color: transparent transparent #777 transparent;
  bottom: -53px;
  transform: skewX(23deg); */

.services .container .box .info a {
  position: absolute;
  top: 100%;
  left: 100%;
  margin: 20px -15px;
  font-size: 20px;
  color: var(--main-color);
}

/* End Services */

/* Start Skills */
.our-skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}
.our-skills .container .skills {
  flex: 1;
}
.our-skills .skills .skill {
}
.our-skills .skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skills .skill h3 span {
  font-size: 10px;
  border: 1px solid #777;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}
.our-skills .skills .skill .the-progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .skills .skill .the-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;

  background-color: var(--main-color);
}
/* End Skills */
/* Start Work Steps */
.work-steps {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--secondry-color);
}
.work-steps .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
    margin: 10px 10px 20px;
  }
}
.container .image {
  max-width: 100%;
}

/* @media (max-width: 991px) {
  .container .image {
    display: none;
  }
} */
.work-steps .container .info .box {
  background-color: white;
  text-align: center;
  box-shadow: 10px 10px 20px gray;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
  overflow: hidden;
}
.work-steps .container .info .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.work-steps .container .info .box:hover::before {
  /* width: 200%;
  height: 200%; */
  background-color: var(--secondry-color);
  animation: baker linear var(--main-transition-durationn);
  -webkit-animation: baker linear var(--main-transition-durationn);
}
@keyframes baker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

.work-steps .container .info .box > img {
  width: 50px;
  height: 50px;
}
.work-steps .container .info .box .text h3 {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
}
.work-steps .container .info .box .text p {
  color: #777;
  line-height: 1.5;
}
/* End Work Steps */
/* Start Events */
.events {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.events .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.events .container img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .events .container img {
    display: none;
  }
}
.events .container .info {
  flex: 1;
}
.events .container .info .time {
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;

  justify-content: center;
}
.events .container .info .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.events .container .info .time .unit span {
  display: block;
}
.events .container .info .time .unit span:first-of-type {
  font-size: 35px;
  color: var(--main-color);
  padding: 15px;
}
.events .container .info .time .unit span:last-of-type {
  padding: 8px 10px;
  font-size: 10px;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.events .container .info .time .unit:hover {
  border-color: var(--main-color-alt);
}
.events .container .info .time .unit:hover span:last-of-type {
  border-top-color: var(--main-color-alt);
}

.events .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
  font-weight: bold;
}
.events .description {
  text-align: center;
  line-height: 1.6;
  font-size: 19px;
  color: #777;
}
.events .container .subscribe {
  width: 100%;
  margin-top: 50px;
}
.events .container .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .events .container .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
.events .container .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .events .container .subscribe form input[type="email"] {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
.events .container .subscribe form input[type="email"]:focus {
  outline: none;
}
.events .container .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition-durationn);
  -webkit-transition: opacity var(--main-transition-durationn);
  -moz-transition: opacity var(--main-transition-durationn);
  -ms-transition: opacity var(--main-transition-durationn);
  -o-transition: opacity var(--main-transition-durationn);
}
.events .container .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .container .subscribe form input[type="submit"] {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  padding: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
@media (max-width: 767px) {
  .events .container .subscribe form input[type="submit"] {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
.events .container .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End Events */
/* Start Pricing  */
.pricing {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--secondry-color);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.pricing .container .box {
  position: relative;
  box-shadow: 0px 12px 20px rgba(0 0 0/ 13%), 0 2px 4px 0 rgb(0 0 0 /12%);
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
  background-color: white;
  text-align: center;
  z-index: 1;
}
.pricing .container .box::before,
.pricing .container .box::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.pricing .container .box::before {
  top: 0;
  left: 0;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
  width: 100%;
}

.pricing .container .box::after {
  right: 0;
  bottom: 0;
}
@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}
.pricing .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}
.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 20px;
}
.pricing .box .title {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}
.pricing .box img {
  width: 80px;
  margin-bottom: 30px;
}
.pricing .box .price {
  margin-bottom: 20px;
}
.pricing .box .price .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}
.pricing .box .price .time {
  color: #777;
}
.pricing .box ul {
  text-align: left;
}
.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.pricing .box a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.pricing .box a:hover {
  background-color: var(--main-color-alt);
  color: white;
  border-color: var(--main-color-alt);
}

/* ENd Pricing  */

/* STart Videos  */
.videos {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--secondry-color);
  border: 3px solid #ddd;
}
@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}

.videos .holder .list {
  min-width: 300px;
  background-color: white;
}
.videos .holder .list .name {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
  color: var(--main-color);
}
.videos .holder .list .name i {
}
.videos .holder .list .name ul {
}
.videos .holder .list li {
  padding: 15px;
  border-top: 1px solid var(--secondry-color);
  cursor: pointer;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.videos .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.videos .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .holder .preview img {
  max-width: 100%;
}
.videos .holder .preview .info {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
/* End Videos  */
/* STart Stats */
.stats {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--secondry-color);
  background-image: url(../imgs/stats.jpg);
  background-size: cover;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  /* z-index: -2; */
}
.stats h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  color: var(--main-color);
  position: relative;
}
@media (max-width: 767px) {
  .stats h2 {
    font-size: 30px;
  }
}
.stats .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
}
.stats .container .box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: white;
  padding: 20px 75px;
  margin-right: 20px;
  align-items: center;
  margin: 10px;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
  position: relative;
  box-shadow: 10px 10px 20px gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.stats .container .box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 3px;
  height: 0;
  transition: calc(var(--main-transition-durationn) + 0.5s);
  -webkit-transition: calc(var(--main-transition-durationn) + 0.5s);
  -moz-transition: calc(var(--main-transition-durationn) + 0.5s);
  -ms-transition: calc(var(--main-transition-durationn) + 0.5s);
  -o-transition: calc(var(--main-transition-durationn) + 0.5s);
}
.stats .container .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 0;
  transition: calc(var(--main-transition-durationn) + 0.5s);
  -webkit-transition: calc(var(--main-transition-durationn) + 0.5s);
  -moz-transition: calc(var(--main-transition-durationn) + 0.5s);
  -ms-transition: calc(var(--main-transition-durationn) + 0.5s);
  -o-transition: calc(var(--main-transition-durationn) + 0.5s);
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
  background-color: var(--main-color-alt);
}
.stats .container .box:hover::before {
  top: 0;
}

@media (max-width: 767px) {
  .stats .container {
    flex-direction: column;
  }
}
.stats .container .box i {
  font-size: 50px;
}
.stats .container .box span:first-of-type {
  color: #777;
  font-size: 30px;
  font-weight: bold;
}
.stats .container .box span:last-of-type {
  color: var(--main-color);
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  /* margin: 0; */
}
/* End Stats */
/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
  -webkit-animation: change-background 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1786e0e6;
  z-index: -1;
}
@media (max-width: 991px) {
  .discount {
    flex-direction: column;
  }
}

.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.discount .form form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.discount .form form .input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 20px gray;
  border-radius: 10px;
  opacity: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.discount .form form textarea {
  resize: none;
  height: 200px;
}
.discount .form form input[type="submit"] {
  width: 100%;
  display: block;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  border-color: var(--main-color);
  cursor: pointer;
}
.discount .form form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .form form .input:focus {
  outline: none;
  caret-color: var(--main-color);
  border-color: var(--main-color);
}
.discount .form form .input:focus::placeholder {
  opacity: 0;
}

.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  /* max-width: 500px; */
}
.discount .content img {
  width: 300px;
  max-width: 100%;
}
@keyframes change-background {
  0%,
  100% {
    background-image: url(../imgs/discount-background1.jpg);
  }
  50% {
    background-image: url(../imgs/discount-background2.jpg);
  }
}

/* End Discount */

/* Start footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer .container .box .social {
    justify-content: center;
  }
  .footer .container .box .line {
    flex-direction: column;
  }
  .footer .container .box .line i {
    margin-bottom: 10px;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}
.footer .container .box {
}
.footer .container .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
  font-weight: bold;
}
.footer .container .box .social {
  display: flex;
}
.footer .container .box .social li {
  margin-right: 10px;
}
.footer .container .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footer .container .box .social li .facebook:hover {
  background-color: #1877f2;
}
.footer .container .box .social li .youtube:hover {
  background-color: #ff0000;
}
.footer .container .box .social li .twitter:hover {
  background-color: #1da1f2;
}
.footer .container .box .social li .linkdin:hover {
  background-color: #83941f;
}
.footer .container .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .container .box .link {
}
.footer .container .box .link li {
  padding: 15px 0;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.footer .container .box .link li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .container .box .link li:hover {
  padding: 10px;
}

.footer .container .box .link li:hover a {
  color: white;
}
.footer .container .box .link li a {
  color: #b9b9b9;
  transition: var(--main-transition-durationn);
  -webkit-transition: var(--main-transition-durationn);
  -moz-transition: var(--main-transition-durationn);
  -ms-transition: var(--main-transition-durationn);
  -o-transition: var(--main-transition-durationn);
}
.footer .container .box .link li a:before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .container .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
.footer .container .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
.footer .container .box .line .info {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  flex: 1;
}
.footer .container .footer-gallery img {
  width: 78px;
  border: 3px solid white;
}
.footer .copyright {
  padding: 25px 0;
  /* color: white; */
  margin: 20px auto 0;
  /* width: fit-content; */
  text-align: center;
  border-top: 1px solid #444;
  font-weight: Bold;
  font-size: 30px;
  color: var(--main-color);
}
/* End footer */
